footer.footer
  .container
    .footer-top
      .footer-column
        a(href="index.html").footer-heading.footer-heading-logo MoGo
        p.footer-desc.text lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh
        p.footer-follower <strong>15k</strong> foolowers
        .footer-social
          span.text Floow us:
          .footer-social-list
            a.footer-social-icon(href="#")
              i.fab.fa-facebook
            a.footer-social-icon(href="#")
              i.fab.fa-twitter
            a.footer-social-icon(href="#")
              i.fab.fa-instagram
            a.footer-social-icon(href="#")
              i.fab.fa-pinterest
            a.footer-social-icon(href="#")
              i.fab.fa-youtube
            a.footer-social-icon(href="#")
              i.fab.fa-dribbble
            a.footer-social-icon(href="#")
              i.fab.fa-tumblr
            a.footer-social-icon(href="#")
              i.fab.fa-google-plus
        form(action="javascript:void(0)").footer-form
          input(type = email, placeholder="Your email").footer-form-input
          button(type="submit").footer-form-button Subscibe
      .footer-column
        h3.footer-heading Block
        a(href="#").footer-blog
          img.footer-blog-image(src="../images/img-blog1.png")
          .footer-blog-info
            h4.footer-blog-title lorem ipsum dolor sit amet consectetuer
            span.footer-blog-date.text.text--light Jan 9, 2016
        a(href="#").footer-blog
          img.footer-blog-image(src="../images/img-blog2.png")
          .footer-blog-info
            h4.footer-blog-title lorem ipsum dolor sit amet consectetuer
            span.footer-blog-date.text.text--light Jan 9, 2016
        a(href="#").footer-blog
          img.footer-blog-image(src="../images/img-blog3.png")
          .footer-blog-info
            h4.footer-blog-title lorem ipsum dolor sit amet consectetuer
            span.footer-blog-date.text.text--light Jan 9, 2016
      .footer-column
        h3.footer-heading Instagram
        .footer-images
          .footer-image
            img(src="../images/img-instagram1.png")
          .footer-image
            img(src="../images/img-instagram1.png")
          .footer-image
            img(src="../images/img-instagram1.png")
          .footer-image
            img(src="../images/img-instagram1.png")
          .footer-image
            img(src="../images/img-instagram1.png")
          .footer-image
            img(src="../images/img-instagram1.png")
          .footer-image
            img(src="../images/img-instagram1.png")
          .footer-image
            img(src="../images/img-instagram1.png")
          .footer-image
            img(src="../images/img-instagram1.png")
        a(href="#").footer-images-more.text.text--light View more photos
    .footer-bottom &copy: 2016 MoGo free template by <span> Laaqiq</span>
