section.people
  .container
    +blockBox("Happy client", "What people say")
    ul.people-list
      +peopleItem()
      +peopleItem("../images/img-people2.png")
      +peopleItem("../images/img-people3.png")
      +peopleItem("../images/img-people4.png")