section.team
	.container
		+blockBox("Who we are", "Meet out team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, maxime ullam, mollitia obcaecati autem, sint blanditiis molestiae et quibusdam nemo nulla odit fugit. Repellat sed fugit doloribus. Aliquid, laboriosam assumenda")
		.team-list
			+teamItem("../images/img-team1.png","Matthew Dix","Graphic Design")
				+teamSocial()
			+teamItem("../images/img-team2.png","Christopher Cambell","Branding UX/design")
				+teamSocial()
			+teamItem("../images/img-team3.png","Michael Fertig","Developer")
				+teamSocial()
section.brand
	.container
		img(src="../images/img-logos.png" alt="brands")
